numpy
tqdm
opencv-python
pyyaml
matplotlib

# Ray Casting
trimesh
embreex

# Depth & Image Diffusion
transformers
torch==2.1 # To avoid conflict with pytorch3d (<= torch 2.1)
diffusers
accelerate
einops

# UVP
torchvision==0.16
pytorch3d
# cupy