numpy
tqdm
opencv-python
pyyaml
matplotlib

# Ray Casting
trimesh
embreex

# Depth & Image Diffusion
transformers
torch==2.1.2 # To avoid conflict with pytorch3d (<= torch 2.1)
diffusers
accelerate
einops

# UVP
torchvision==0.16
pytorch3d @ https://dl.fbaipublicfiles.com/pytorch3d/packaging/wheels/py310_cu121_pyt211/pytorch3d-0.7.5-cp310-cp310-linux_x86_64.whl
cupy-cuda11x==12.2.0